*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    /* hover karie to background div heighlight thay 6e but image center ma nathi to boundary sari rite nathi atle display flex */
    height: 165px;
    width: 165px;
    border-radius: 50%;
    /* main div pan circle bani gayo atle hover karisu to circle j dekhase */
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
   
}
#reset-btn {
    padding:1rem;
    font-size:2rem;
    /* margin-top: 20px; */
    background-color: #081b31;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

#reset-btn:hover {
    background-color: #555;
}
